name: CI

on:
  push:
    branches: [ main ]
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest

    name: Basic checks w/ ${{ matrix.deno-version }}
    strategy:
      fail-fast: false
      matrix:
        deno-version:
        - v1.11
        - v1.12
        - v1.13
        - v1.14
        - v1.15
        - v1.16
        - v1.17
        - canary

    steps:
    - name: Checkout source
      uses: actions/checkout@v2

    - name: Use Deno ${{ matrix.deno-version }}
      uses: denoland/setup-deno@v1
      with:
        deno-version: ${{ matrix.deno-version }}

    - name: Cache https:// deps
      uses: actions/cache@v2
      with:
        path: ~/.cache/deno/deps/https
        key: deno/${{ matrix.deno-version }}-https/v1-${{ github.sha }}
        restore-keys: deno/${{ matrix.deno-version }}-https/v1-

    - name: Check generation/deploy/mod.ts
      if: ${{ matrix.deno-version != 'v1.11' && matrix.deno-version != 'v1.12' && matrix.deno-version != 'v1.13' }}
      run: time deno cache generation/deploy/mod.ts

    - name: Check client/mod.ts
      if: always()
      run: time deno cache lib/client/mod.ts

    - name: Check demo.ts
      if: always()
      run: time deno cache lib/demo.ts

    - name: Run tests
      if: always()
      run: time deno test --allow-net=169.254.169.254,example.com lib/client/

  validate-codegen:
    runs-on: ubuntu-latest

    name: Test codegen w/ ${{ matrix.deno-version }}
    strategy:
      matrix:
        deno-version:
        - v1.11
        - v1.13
        - v1.16
        - v1.17
        - canary
      fail-fast: false # run each branch to completion

    steps:
    - name: Checkout source, incl aws-sdk-js
      uses: actions/checkout@v2
      with:
        submodules: true

    - name: Use Deno ${{ matrix.deno-version }}
      uses: denoland/setup-deno@v1
      with:
        deno-version: ${{ matrix.deno-version }}

    - name: Cache https:// deps
      uses: actions/cache@v2
      with:
        path: ~/.cache/deno/deps/https
        key: deno/${{ matrix.deno-version }}-https/v1-${{ github.sha }}
        restore-keys: deno/${{ matrix.deno-version }}-https/v1-

    - name: Validate aws-sdk fixtures
      if: always()
      run: time deno run -A generation/script/validate-fixtures.ts

    - name: Validate all aws-sdk services
      if: always()
      run: time deno run -A generation/script/validate-services.ts

  regenerate-bundled:
    runs-on: ubuntu-latest

    name: Regen bundled services
    if: github.event_name == 'push'
    needs:
    - validate-codegen

    steps:
    - name: Checkout source
      uses: actions/checkout@v2
      with:
        submodules: true

    - name: Use Deno v1.17
      uses: denoland/setup-deno@v1
      with:
        deno-version: v1.17

    - name: Cache https:// deps
      uses: actions/cache@v2
      with:
        path: ~/.cache/deno/deps/https
        key: deno/v1.17-https/v1-${{ github.sha }}
        restore-keys: deno/v1.17}-https/v1-

    - name: Regenerate API files
      run: time ./generation/script/update-all.sh

    - name: Perhaps create PR
      uses: peter-evans/create-pull-request@v3
      with:
        branch: regen-bundled-services
        delete-branch: true
        title: "chore(services): Rebuild using latest codegen"
